<%- include('./partials/navbar.ejs') %>
<body class="animsition">
    <!-- Product -->
    <div class="bg0 m-t-80 p-b-140">
        <div class="container">
            <div class="flex-w flex-sb-m p-b-52">
                <div class="filter-tope-group">
                    <a href="/product" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn">
                        All Products
                    </a>
                    <% categories.forEach(category => { %>
                        <a href="/product?category=<%= category._id %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn">
                            <%= category.name %>
                        </a>
                    <% }); %>
                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div id="filterToggleBtn" class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Filter
                    </div>
                </div>
                <!-- Filter -->
                <%- include('./partials/filter.ejs', { sortOption, sortDirection, categoryFilter, minPrice, maxPrice }) %>
            </div>

            <div class="row isotope-grid" id="productContainer">
                <% products.forEach(product => { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item" data-category="<%= product.category.name %>">
                        <div class="block2">
                            <div class= "block2-pic hov-img0">
                                <img style="width: 307.5px;height: 384.32px;" src="/images/<%= product.image[0] %>" alt="IMG-PRODUCT">
                                <a href="/product-detail/<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Quick View
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <a href="/product-detail/<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= product.name %>
                                    </a>
                                    <span class="stext-105 cl3">₹<%= product.rate %></span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <button class="btn-addwish-b2 dis-block pos-relative add-from-wishlist"
                                        onclick="addToWishlist('<%= product._id %>')"
                                        data-product-id="<%= product._id %>" <% if (product.wishlist) { %> style="display: none;" <% } %>>
                                        <img class="" src="/images/icons/icon-heart-01.png" alt="ICON">
                                    </button>

                                    <button class="btn-addwish-b2 dis-block pos-relative remove-to-wishlist"
                                        onclick="removeFromWishlist('<%= product._id %>')"
                                        data-product-id="<%= product._id %>" <% if (!product.wishlist) { %> style="display: none;" <% } %>>
                                        <img class=" " src="/images/icons/icon-heart-02.png" alt="ICON">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>

            <!-- Load more -->
            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    <!-- Pagination -->
                    <div class="pagination">
                        <% if (currentPage > 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&sort=<%= sortOption %>&direction=<%= sortDirection %>&category=<%= categoryFilter %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>" class="btn btn-secondary mr-2">Previous</a>
                        <% } %>
                        
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <a href="?page=<%= i %>&sort=<%= sortOption %>&direction=<%= sortDirection %>&category=<%= categoryFilter %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>" class="btn mr-2 <%= currentPage === i ? 'btn-primary' : 'btn-secondary' %>"><%= i %></a>
                        <% } %>
                        
                        <% if (currentPage < totalPages) { %>
                            <a href="?page=<%= currentPage + 1 %>&sort=<%= sortOption %>&direction=<%= sortDirection %>&category=<%= categoryFilter %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>" class="btn btn-secondary mr-2">Next</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
</body>
    